#map { height: 92vh; }
.legend {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}
.legend-item {
    margin-bottom: 5px;
}
.legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.header-wrapper {
    width: 100%;
    padding: 10px;
}